In [27]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import sqlalchemy
import psycopg2

In [28]:
engine = sqlalchemy.create_engine("postgresql+psycopg2://postgres:postgres@localhost/project4")

In [29]:
with engine.connect() as conn:
    df_insurance = pd.read_sql('select * from healthinsurance;', conn)
df_insurance.head()

,age,sex,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,bin_claim
0,60.0,0.0,64,24.3,1,0,72,0,0,medium-high
1,49.0,1.0,75,22.6,1,0,78,1,1,medium-low
2,32.0,1.0,64,17.8,2,1,88,1,1,high
3,61.0,1.0,53,36.4,1,1,72,1,0,high
4,19.0,1.0,50,20.6,0,0,82,1,0,low

In [30]:
#converting to float

#df_insurance['sex'] = df_insurance['sex'].map({'male':0, 'female': 1}).astype(float)
#df_insurance['hereditary_diseases'] = df_insurance['herditary_diseases'].map({'NoDisease':0, 'fe': 1}).astype(float)

In [31]:
#df_insurance = df_insurance.drop(columns=['job_title', 'hereditary_diseases','city'])
df_insurance = df_insurance.dropna()

In [32]:
 # Define features set
# X = df_insurance.copy()
# X.drop("regular_ex", axis=1, inplace=True)
# X.head()

X = df_insurance.copy()
#X.drop("claim", axis=1, inplace=True)
X.drop("bin_claim", axis=1, inplace=True)
X.head()

,age,sex,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex
0,60.0,0.0,64,24.3,1,0,72,0,0
1,49.0,1.0,75,22.6,1,0,78,1,1
2,32.0,1.0,64,17.8,2,1,88,1,1
3,61.0,1.0,53,36.4,1,1,72,1,0
4,19.0,1.0,50,20.6,0,0,82,1,0

In [33]:
 # Define target vector
# y = df_insurance["regular_ex"].values.reshape(-1, 1)
# y[:5]

y = df_insurance["bin_claim"].ravel()
y[:5]

array(['medium-high', 'medium-low', 'high', 'high', 'low'], dtype=object)

In [34]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [35]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [36]:
 # Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [37]:
 # Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [38]:
 # Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [39]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [40]:
 # Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [41]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
# cm_df = pd.DataFrame(
#     cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
# )

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [42]:
# Displaying results
print("Confusion Matrix")
display(cm)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

array([[786,   6,  23,  14],
       [  0, 901,   0,   0],
       [ 20,   4, 811,   8],
       [ 10,   3,   4, 822]])

Accuracy Score : 0.9730363423212193
Classification Report
              precision    recall  f1-score   support

        high       0.96      0.95      0.96       829
         low       0.99      1.00      0.99       901
 medium-high       0.97      0.96      0.96       843
  medium-low       0.97      0.98      0.98       839

    accuracy                           0.97      3412
   macro avg       0.97      0.97      0.97      3412
weighted avg       0.97      0.97      0.97      3412